.card {
    background-color: #CBC3E3;
    .img {
        width: auto;
        height: auto;
        object-fit: fill;
    }
    

    button.btn {
         display: block;
         margin: auto;
    }
        
}
        
        
        
